# EXERCÍCIO

O objetivo desta tarefa é gerar as estatísticas para o atributo <b>age</b> da base de dados do censo

* Carregue o arquivo `census.csv`

* Calcule a média aritmética, média harmônica, média geométrica, média quadrática, a mediana e a moda. Compare os resultados

In [1]:
import pandas as pd

from Models.Stats import Stats

In [2]:
stats = Stats()

In [3]:
df = pd.read_csv('CSVs/census.csv')
df.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Média aritmética
stats.mean(df['age'])

38.58164675532078

In [5]:
# Média hamônica
stats.harm_mean(df['age'])

33.91874139090352

In [6]:
# Média geométrica
stats.geom_mean(df['age'])

36.21087915817499

In [7]:
# Média quadrática
stats.sqrt_mean(df['age'])

40.9218664329987

In [8]:
# Mediana
stats.median(df['age'])

37

In [12]:
# Moda
stats.mode(df['age'])

array([36], dtype=int64)

In [14]:
df['age'].min()

17

In [15]:
df['age'].max()

90

In [13]:
df['age'].value_counts()

36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
87      1
86      1
Name: age, Length: 73, dtype: int64

In [17]:
(90 - 17) / 2

36.5

Verificando as 73 diferentes idades, de 17 anos a 90 anos, a média geométrica é a fórmula que mais se aproxima do ponto médio, e que coincidentemente está entre a moda e mediana. Pode ser considerada uma boa representação do grupo de dados.