In [1]:
import pandas as pd
from Models.NaiveBayes import NaiveBayes

In [2]:
hist = ['Ruim','Desconhecida','Desconhecida','Desconhecida',
        'Desconhecida','Desconhecida','Ruim','Ruim','Boa',
        'Boa','Boa','Boa','Boa','Ruim']
divida = ['Alta','Alta','Baixa','Baixa','Baixa','Baixa',
          'Baixa','Baixa','Baixa','Alta','Alta','Alta','Alta','Alta']
garantia = ['Nenhuma','Nenhuma','Nenhuma','Nenhuma','Nenhuma',
           'Adequada','Nenhuma', 'Adequada','Nenhuma', 'Adequada','Nenhuma',
           'Nenhuma','Nenhuma','Nenhuma']
renda = ['< 15.000', '>= 15.000 a 35.000', '>= 15.000 a 35.000',
        '< 15.000', '> 35.000', '> 35.000','< 15.000', '> 35.000',
         '> 35.000','> 35.000','< 15.000','>= 15.000 a 35.000',
         '> 35.000','>= 15.000 a 35.000']
risco = ['Alto','Alto','Moderado','Alto','Baixo','Baixo','Alto',
         'Moderado','Baixo','Baixo','Alto','Moderado','Baixo','Alto']

data = {'Historico':hist, 'Divida':divida,'Garantias':garantia, 'Renda':renda, 'Risco':risco}

df = pd.DataFrame(data)
df

       Historico Divida Garantias               Renda     Risco
0           Ruim   Alta   Nenhuma            < 15.000      Alto
1   Desconhecida   Alta   Nenhuma  >= 15.000 a 35.000      Alto
2   Desconhecida  Baixa   Nenhuma  >= 15.000 a 35.000  Moderado
3   Desconhecida  Baixa   Nenhuma            < 15.000      Alto
4   Desconhecida  Baixa   Nenhuma            > 35.000     Baixo
5   Desconhecida  Baixa  Adequada            > 35.000     Baixo
6           Ruim  Baixa   Nenhuma            < 15.000      Alto
7           Ruim  Baixa  Adequada            > 35.000  Moderado
8            Boa  Baixa   Nenhuma            > 35.000     Baixo
9            Boa   Alta  Adequada            > 35.000     Baixo
10           Boa   Alta   Nenhuma            < 15.000      Alto
11           Boa   Alta   Nenhuma  >= 15.000 a 35.000  Moderado
12           Boa   Alta   Nenhuma            > 35.000     Baixo
13          Ruim   Alta   Nenhuma  >= 15.000 a 35.000      Alto

In [3]:
nb = NaiveBayes(df, 'Risco')

True

In [4]:
nb.get_nb()

Classe   Historico                           Divida           Garantias  \
Risco         Ruim Desconhecida       Boa      Alta     Baixa   Nenhuma
Alto           0.5     0.333333  0.166667  0.666667  0.333333         1
Baixo          0.2          0.4       0.6       0.4       0.6       0.6
Moderado  0.333333     0.333333  0.333333  0.333333  0.666667  0.666667

Classe                 Renda                                  Total
Risco     Adequada  < 15.000 >= 15.000 a 35.000  > 35.000     Proba
Alto      0.166667  0.666667           0.333333  0.166667  0.428571
Baixo          0.4       0.2                0.2         1  0.357143
Moderado  0.333333  0.333333           0.666667  0.333333  0.214286

In [5]:
x = ['Boa', 'Alta', 'Nenhuma', '> 35.000']
nb.classify(x)

Classe   Historico    Divida Garantias     Renda     Total
Risco          Boa      Alta   Nenhuma  > 35.000     Proba
Alto      0.166667  0.666667         1  0.166667  0.428571
Baixo          0.6       0.4       0.6         1  0.357143
Moderado  0.333333  0.333333  0.666667  0.333333  0.214286

{'Alto': '12.27%', 'Baixo': '79.54%', 'Moderado': '8.18%'}

In [6]:
df = pd.read_csv('CSVs/credit_data.csv')
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [7]:
df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [8]:
age_mean = df[df['age'] >= 18]['age'].mean()
df['age'] = df['age'].apply(lambda x: x if x >= 18 else age_mean)

In [9]:
df['age'].mean()

40.92770044906149

In [10]:
def map_categ(x: float, quants: tuple) -> str:
    
    if x <= quants[0]:
        return 'Low'
    elif x >= quants[1]:
        return 'High'
    else:
        return 'Normal'

In [11]:
df.drop('i#clientid', axis=1, inplace = True)
df.head()

         income        age         loan  c#default
0  66155.925095  59.017015  8106.532131          0
1  34415.153966  48.117153  6564.745018          0
2  57317.170063  63.108049  8020.953296          0
3  42709.534201  45.751972  6103.642260          0
4  66952.688845  18.584336  8770.099235          1

In [12]:
target = 'c#default'
df_format = df.drop(target, axis=1,inplace=False).copy()

for col in df_format.columns:
    q1 = df_format[col].quantile(0.25)
    q3 = df_format[col].quantile(0.75)
    
    df_format[col] = df_format[col].apply(lambda x: map_categ(x, (q1, q3)))

df_format['target'] = df[target]
df_format.head()

   income     age    loan  target
0    High    High    High       0
1  Normal  Normal    High       0
2  Normal    High    High       0
3  Normal  Normal  Normal       0
4    High     Low    High       1

In [13]:
df.columns = list(df.columns)[:-1]+['Target']

In [14]:
from Models.NaiveBayes import NaiveBayes
nb = NaiveBayes(df, 'Target')
nb.get_nb()

False

Classe    income                             age                      \
Target      High    Normal       Low        High    Normal       Low
0       0.251602  0.496214  0.252184    0.291206  0.529994    0.1788
1       0.240283  0.522968  0.236749  0.00353357  0.318021  0.681979

Classe      loan                         Total
Target      High    Normal         Low   Proba
0       0.193943  0.514851    0.291206  0.8585
1       0.590106  0.409894  0.00353357  0.1415

In [15]:
nb.get_data()

            income        age         loan  Target
0     66155.925095  59.017015  8106.532131       0
1     34415.153966  48.117153  6564.745018       0
2     57317.170063  63.108049  8020.953296       0
3     42709.534201  45.751972  6103.642260       0
4     66952.688845  18.584336  8770.099235       1
...            ...        ...          ...     ...
1995  59221.044874  48.518179  1926.729397       0
1996  69516.127573  23.162104  3503.176156       0
1997  44311.449262  28.017167  5522.786693       1
1998  43756.056605  63.971796  1622.722598       0
1999  69436.579552  56.152617  7378.833599       0

[2000 rows x 4 columns]

In [16]:
nb.get_raw()

      income     age    loan  Target
0       High    High    High       0
1     Normal  Normal    High       0
2     Normal    High    High       0
3     Normal  Normal  Normal       0
4       High     Low    High       1
...      ...     ...     ...     ...
1995    High  Normal     Low       0
1996    High     Low  Normal       0
1997  Normal     Low  Normal       1
1998  Normal    High     Low       0
1999    High    High    High       0

[2000 rows x 4 columns]

In [17]:
x = [66155.925095, 59.017015, 8106.532131]
nb.classify(x)

Classe    income         age      loan   Total
Target      High        High      High   Proba
0       0.251602    0.291206  0.193943  0.8585
1       0.240283  0.00353357  0.590106  0.1415

{0: '99.42%', 1: '0.58%'}

In [18]:
x = [6155.925095, 59.017015, 18106.532131]
nb.classify(x)

Classe    income         age      loan   Total
Target       Low        High      High   Proba
0       0.252184    0.291206  0.193943  0.8585
1       0.236749  0.00353357  0.590106  0.1415

{0: '99.43%', 1: '0.57%'}

In [19]:
x = [9155.925095, 20.017015, 8106.532131]
nb.classify(x)

Classe    income       age      loan   Total
Target       Low       Low      High   Proba
0       0.252184    0.1788  0.193943  0.8585
1       0.236749  0.681979  0.590106  0.1415

{0: '35.77%', 1: '64.23%'}

In [20]:
x = [9155.925095, 40.017015, 8106.532131]
nb.classify(x)

Classe    income       age      loan   Total
Target       Low    Normal      High   Proba
0       0.252184  0.529994  0.193943  0.8585
1       0.236749  0.318021  0.590106  0.1415

{0: '77.97%', 1: '22.03%'}

In [21]:
x = [9155.925095, 20.017015, 100106.532131]
nb.classify(x)

Classe    income       age      loan   Total
Target       Low       Low      High   Proba
0       0.252184    0.1788  0.193943  0.8585
1       0.236749  0.681979  0.590106  0.1415

{0: '35.77%', 1: '64.23%'}

In [22]:
x = [90155.925095, 40.017015, 106.532131]
nb.classify(x)

Classe    income       age        loan   Total
Target      High    Normal         Low   Proba
0       0.251602  0.529994    0.291206  0.8585
1       0.240283  0.318021  0.00353357  0.1415

{0: '99.89%', 1: '0.11%'}

In [23]:
df['Target'].value_counts()

0    1717
1     283
Name: Target, dtype: int64